<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Amane Nishiki</key>
	<dict>
		<key>New item</key>
		<string></string>
	</dict>
	<key>Arakune</key>
	<dict/>
	<key>Azrael</key>
	<dict/>
	<key>Bang Shishigami</key>
	<dict/>
	<key>Bullet</key>
	<dict/>
	<key>Carl Clover</key>
	<dict/>
	<key>Hakumen</key>
	<dict/>
	<key>Hazama</key>
	<dict/>
	<key>Iron Tager</key>
	<dict/>
	<key>Izayoi</key>
	<dict/>
	<key>Jin Kisaragi</key>
	<dict/>
	<key>Kagura Mutsuki</key>
	<dict/>
	<key>Kokonoe</key>
	<dict/>
	<key>Litchi Faye Ling</key>
	<dict/>
	<key>Makoto Nanaya</key>
	<dict/>
	<key>Noel Vermillion</key>
	<dict/>
	<key>Platinum the Trinity</key>
	<dict/>
	<key>Rachel Alucard</key>
	<dict/>
	<key>Ragna the Bloodedge</key>
	<dict>
		<key>Ground</key>
		<dict>
			<key>5</key>
			<dict>
				<key>5A</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>5B</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>5C</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>2A</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>2B</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>2C</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>6A</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>6B</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>6C</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
			</dict>
			<key>Other</key>
			<dict>
				<key>3C</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>5AB</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
			</dict>
			<key>Drive</key>
			<dict>
				<key>5D</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>2D</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
				<key>6D</key>
				<array>
					<string>5A</string>
					<integer>5</integer>
					<array>
						<integer>3</integer>
					</array>
					<array>
						<integer>0</integer>
						<integer>9</integer>
					</array>
					<integer>11</integer>
					<integer>0</integer>
					<array>
						<integer>0</integer>
					</array>
					<string>B</string>
					<string>All</string>
				</array>
			</dict>
		</dict>
		<key>Air</key>
		<dict>
			<key>j.A</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>j.B</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>j.C</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>j.D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
		</dict>
		<key>Special</key>
		<dict>
			<key>66</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>214A</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>[214A] 214D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>623C</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>623D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>214B</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>236D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>214D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
		</dict>
		<key>Super</key>
		<dict>
			<key>632146D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>632146D~D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
			<key>214214D</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
		</dict>
		<key>Astral</key>
		<dict>
			<key>2141236C</key>
			<array>
				<string>5A</string>
				<integer>5</integer>
				<array>
					<integer>3</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>9</integer>
				</array>
				<integer>11</integer>
				<integer>0</integer>
				<array>
					<integer>0</integer>
				</array>
				<string>B</string>
				<string>All</string>
			</array>
		</dict>
	</dict>
	<key>Relius Clover</key>
	<dict/>
	<key>Taokaka</key>
	<dict/>
	<key>Tsubaki Yayoi</key>
	<dict/>
	<key>Valkenhayn R. Hellsing</key>
	<dict/>
	<key>Yuuki Terumi</key>
	<dict/>
	<key>μ-12</key>
	<dict/>
	<key>ν-13</key>
	<dict/>
</dict>
</plist>
